

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter',
    sans-serif;
    background-color: #c0d4e0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 * {
  box-sizing: border-box;
  outline: none;
 }

 button, input{
  font-family: -apple-system, BlinkMacSystemFont, 'Inter',
    sans-serif;
 }
